@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0px 50px;
}

body {
  height: 100vh;
  background: #212529;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar h2 {
  color: #ffb742;
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: #ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: #fb8c00;
}

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.main h4 span {
  color: #ffb742;
  text-decoration: underline;
}

.main p.title {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  margin-top: 8px;
  text-align: center;
}

.main p.subtitle {
  font-size: 16px;
  color: #ccc;
  margin-top: 20px;
}

.main img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.guarantee {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.guarantee .item {
  background: #292b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 30px;
}

.guarantee .item:hover {
  border-color: #ffb742;
}

.guarantee .item .icon {
  width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  aspect-ratio: 1;
}

.guarantee .item:hover .icon {
  background-color: #ffb742;
}

.guarantee .item .icon i {
  font-size: 30px;
}

.guarantee .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee .item .info h3 {
  color: #ffb742;
  font-size: 28px;
}

.guarantee .item .info p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.guarantee .item > i {
  color: #fff;
  font-size: 30px;
  transition: color 0.3s ease;
}

.guarantee .item:hover > i {
  color: #ffb742;
}

.seperator {
  margin: 50px 0px 30px;
  padding: 10px 20px;
  background: rgba(225, 255, 255, 0.08);
  display: inline-block;
  color: #ffb742;
  border-radius: 12px;
}

.seperator-container {
  display: flex;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about .info h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about .info p {
  color: #ccc;
  font-size: 14px;
}

.about .info button {
  margin-top: 30px;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.skills .left .info h3 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.skills .left .info p {
  color: #ccc;
  font-size: 14px;
}

.skills .left button {
  margin-top: 30px;
}

footer {
  position: relative;
  background: #1c1c1c;
  padding: 80px 50px 80px;
  margin-top: 80px;
}

footer .cols {
  display: flex;
  align-items: start;
  align-items: center;
}

footer .cols .about-col {
  flex: 3;
}

footer .cols .about-col h3 {
  color: #ffb742;
  margin-bottom: 20px;
  font-size: 24px;
}

footer .cols .about-col p {
  color: #ccc;
  font-size: 13px;
}

footer .cols .links-col {
  font-size: 30px;
  display: flex;
  gap: 20px;
}

footer .cols .links-col a {
  color: white;
}

footer .cols .links-col a:hover {
  color: #ffb742;
  transition: color 0.3s ease;
}

@media screen and (max-width: 1416px) {
  footer .cols .about-col p {
    text-align: start;
  }
}

@media screen and (max-width: 1255px) {
  .guarantee {
    flex-wrap: wrap;
  }

  footer .cols .about-col {
    flex-basis: 50%;
  }

  @media screen and (max-width: 780px) {
    .navbar button {
      display: none;
    }

    .main h4 {
      font-size: 24px;
    }

    .main p.title {
      font-size: 36px;
    }

    .main p.subtitle {
      font-size: 14px;
    }

    .guarantee .item {
      flex-basis: 100%;
    }

    .about {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (max-width: 650px) {
    .navbar {
      justify-content: center;
    }

    .navbar h2 {
      display: none;
    }

    .navbar ul li a {
      font-size: 14px;
    }

    .main {
      margin-top: 50px;
      height: 320px;
      justify-content: start;
    }

    .main p.title {
      font-size: 28px;
    }

    .main p.subtitle {
      font-size: 12px;
    }

    .main img {
      margin-top: 40px;
      width: 150px;
      height: 150px;
    }

    .skills {
      flex-wrap: wrap;
      justify-content: center;
    }

    footer .start {
      top: -8%;
    }

    footer .start p {
      display: none;
    }

    footer .cols .about-col {
      flex-basis: 100%;
      margin-bottom: 40px;
    }

    footer .cols {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  @media screen and (max-width: 579px) {
    .main {
      height: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .main p.title {
      font-size: 18px;
    }

    .main p.subtitle {
      font-size: 10px;
    }

    .guarantee .item .info h3 {
      font-size: 20px;
    }

    .guarantee .item .info p {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 430px) {
    .container {
      padding: 0px 24px;
    }
  }

  @media screen and (max-width: 375px) {
    .main p.subtitle {
      text-align: center;
    }
  }
}
